# CI_ENVIRONMENT = development

# app.baseURL = 'http://localhost/'
# app.forceGlobalSecureRequests = false

# database.default.hostname = 
# database.default.database = 
# database.default.username = 
# database.default.password = 

# email.SMTPHost = 
# email.SMTPUser = 
# email.SMTPPass = 

# encryption.key = 