# CI_ENVIRONMENT = development

# app.baseURL = 'http://localhost/'

# database.default.hostname = 
# database.default.database = 
# database.default.username = 
# database.default.password = 

# encryption.key = 