{% extends "layouts/layout.twig" %}

{% block robots %}noindex, nofollow{% endblock %}
{% block vendor_css %}{% endblock %}
{% block css %}<link rel="stylesheet" href="/css/404.css">{% endblock %}
{% block og %}{% endblock %}
{% block google_fonts %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    <div class="content">
        <h1>Az oldal nem található</h1>
        <p>Sajnáljuk, de ez az oldal nem létezik vagy megváltozott.</p>
        <a class="button-main" href="/">Vissza a főoldalra</a>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
{% block js %}{% endblock %}